/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #bf6a34;
    --vp-c-brand-2: hsl(23, 65%, 61%);
    --vp-c-brand-3: #bf6a34;

  }

.vp-doc a  {
  color: inherit;
  text-decoration-color: #808080;
}

move { color: #bf6a34 }
route { color: #f44747 }
neuro { color: #c586c0 }
beta { color: #569cd6 }
envi { color: #6a9955 }
bg { color: #1f1f1f }